@charset "UTF-8";

div {
	border : 10px soild #FCF8F1;
	border-radius: 50%;
}
table {
	margin: 0 auto;
	width: 800px;
	height: 500px;
	background-color: #FCF8F1;
	border-radius: 50%;
	border-collapse: collapse;
	border : 1px soild #FCF8F1;
	border-color: #FCF8F1;
}

.tr1 {
	border-radius: 30%;
	border : 1px soild #FCF8F1;
}
th {
	height: 50px;
	background-color: #FACDCC;
	border-bottom: 2px solid gray;
	border-collapse: collapse;
	border-color: #FACDCC;
}

td {

	text-align: center;
	border-bottom: 1px solid gray;
	background-color: #FCF8F1;
}

.td1 {
	width: 10%;
}

.td2 {
	width: 20%;
}

.title {
	text-align: left;
}

tr:hover {
	background-color: gray;
}