@charset "UTF-8";

table {
	margin: 0 auto;
	width: 800px;
	height: 500px;
	border-collapse: separate; /* 테이블 셀 경계를 분리 */
	border-spacing: 0;
	/* 테이블 셀 간격 설정 */
	background-color: #FCF8F1;
	border-radius: 20px;
	border: 1px soild #FCF8F1;
	border-spacing: 0;
	padding: 10px;
}



h1 {
	text-align: center;
}

div {
	text-align: center;
}

th {
	background-color: #FACDCC;
	height: 50px;
	border-bottom: 2px solid #FACDCC;
	border-collapse: collapse;
}

.writee {
    position: absolute;
    top:10%;
    right: 10%;
    background-color:#FCF8F1;
    color: #gray;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 120px;
    text-align: center;
    align: center;
  }

.rr1 {
	border-top-left-radius: 15px;
}

.rr2 {
	border-top-right-radius: 15px;
}

td {
	text-align: center;
	border-bottom: 3px dashed #CCCCCC;
}

.td1 {
	width: 10%;
}

.td2 {
	width: 20%;
}

.title {
	text-align: left;
}

tr:hover {
	background-color: #FFE486;
}