@charset "UTF-8";
*{
font-family: Sandoll Studywithme;
font-weight: 400;
}

.button:hover {
	background-color:#EF9A9A;
	transition: 0.5s;
}

div {
	text-align: center;
	margin-bottom: 10px;
}




#loginBox{
	margin: 0 auto;
	width: 100px;
	height: 100px;
	padding: 50px 10px;
	border-style : solid;
	border-color: #FCF8F1;
	border-radius: 15px;
}

input{
	margin: 5px 0px;
	border-radius: 20px;
	background-color: #FFE486;
	padding: 5px 8px 5px;
	width: 290px;
	height: 50px;
	border-color: #FFE486;
	box-sizing: border-box;
	border: 1px solid #white ; 
}


button {
	border: 0;
	background-color: #FFE486;
	color: gray;
	width: 70px;
	height: 40px;
	font-size: 10pt;
	margin:0 auto; 
	border-radius: 20px;
	cursor: pointer;
}

#search{
	margin-top: 10px;	
}

#search a{
	text-decoration: none;
    color: #888;
}